env/
.vscode/
__pycache__/
test_separated.raw
test_postfiltered.raw
scripts/ConfigurationHelper/ODASOutput.json
*.pyc
.coverage
src/app/gui/*.py
config/maps/*.npy
*_ui.py
output/
config/service_account.json
*.o
*.a
*.so
lib/*/build
config/yolo/
src/app/services/videoprocessing/dewarping/src/shaders/autogen
src/app/services/videoprocessing/dewarping/interface/fisheye_dewarping.py
src/app/services/videoprocessing/dewarping/interface/fisheye_dewarping_wrap.cpp
.idea
