env/
.vscode/
test_separated.raw
test_postfiltered.raw
scripts/ConfigurationHelper/ODASOutput.json
*.pyc
.coverage
src/app/gui/*.py
config/maps/*.npy
*_ui.py
config/service_account.json
*.o
*.a
*.so
!steno/3rd/darknet/lib/x86_64/*.so
!steno/3rd/darknet/lib/x86_64_cuda/*.so
!steno/3rd/darknet/lib/aarch64/*.so
!steno/3rd/v4l2/lib/x86_64/*.a
!steno/3rd/v4l2/lib/aarch64/*.a
lib/*/build
steno/configs/yolo/
.idea
*/bin/*
