env/
.vscode/
__pycache__/
test_separated.raw
test_postfiltered.raw
scripts/ConfigurationHelper/ODASOutput.json
*.pyc
.coverage
src/app/gui/*.py
config/maps/*.npy
*_ui.py
config/service_account.json
*.o
*.a
*.so
!c_plus_plus/3rd/darknet/lib/x86_64*.so
!c_plus_plus/3rd/darknet/lib/aarch64*.so
!c_plus_plus/3rd/v4l2/lib/x86_64*.a
!c_plus_plus/3rd/v4l2/lib/aarch64*.a

lib/*/build
config/yolo/
src/app/services/videoprocessing/dewarping/src/shaders/autogen
src/app/services/videoprocessing/dewarping/interface/fisheye_dewarping.py
src/app/services/videoprocessing/dewarping/interface/fisheye_dewarping_wrap.cpp
.idea
*/bin/*
src/app/services/virtualcameradevice/interface/virtual_camera_device.py
src/app/services/virtualcameradevice/interface/virtual_camera_device_wrap.cpp