absl-py==0.7.1
astor==0.7.1
astroid==2.2.5
atomicwrites==1.3.0
attrs==18.2.0
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
coverage==4.5.2
cvlib==0.2.0
cycler==0.10.0
Cython==0.29.6
docopt==0.6.2
entrypoints==0.3
gast==0.2.2
google-api-core==1.8.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-speech==0.36.3
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
grpcio==1.19.0
h5py==2.9.0
idna==2.8
isort==4.3.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==3.1
matplotlib==3.0.3
mccabe==0.6.1
more-itertools==6.0.0
numpy==1.16.2
packaging==19.0
pandas==0.24.1
pathlib2==2.3.3
Pillow==6.0.0
pip-review==1.0
pluggy==0.8.1
progressbar==2.5
protobuf==3.7.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.5.0
pyflakes==2.1.0
pylint==2.3.1
pynput==1.4
pyparsing==2.3.1
pyqt-distutils==0.7.3
pyqtgraph==0.10.0
pytest==4.3.0
pytest-cov==2.6.1
python-dateutil==2.8.0
python-vlc==2.2.6100
python-xlib==0.25
pytz==2018.9
PyYAML==5.1
requests==2.21.0
rsa==4.0
scipy==1.2.1
six==1.12.0
termcolor==1.1.0
typed-ast==1.3.1
urllib3==1.24.1
Werkzeug==0.15.2
wrapt==1.11.1
yolo34py==0.1rc13
