QListWidget
{
    background-color: #4a4a4a;
    color: #ffffff;
    selection-background-color: #3a3a3a;
    selection-color: #016735;
}

QListWidget::item:hover
{
  color: #016735;
  background-color: #3a3a3a;
}
