[Unit]
Description=StenoMics automation.

[Service]
Type=notify
RemainAfterExit=true
ExecStart=/bin/bash /usr/bin/stenomics-creation.sh --default

[Install]
WantedBy=multi-user.target