[Unit]
Description=StenoMics automation.

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/bin/stenomics-creation.sh --default

[Install]
WantedBy=default.target